.heading{
    font-weight: 200px;
    text-decoration-line: underline;
    background-color: white;
    background-size: contain;
    text-align: center;
}
div.topic{
    background-color:black;
    background-size: cover;
    width:100%;
    color:white;
}
div.topic img{  
    
    overflow:hidden;
    margin-top:10px;
    height:200px;
   
}

div.topic h1{
    text-align: center;
    color:white;
    font-weight:25px;
    font-family: sans-serif;
   text-decoration: underline;

}
header{
    background-color:dimgrey;
    height: 50px;
    padding:10px;
    width:100%;
    }
header ul
{
    float:right;
    
}
header ul li{
    display: inline-block;
    position:relative;
}
header ul li a
{
    color: white;
    padding:5px 20px;
    text-decoration: none;
    font-weight: 300px;
}
header ul li a:hover{
    background-color:firebrick;
    color:white;
    padding:20px;
    align-items:center;
}




.main{
    background-image:url(tag.jpg);
    background-position: center;
    background-size:900px 400px;
    height:100%
    color: white;
    font-family:sans-serif;
    text-align: center;
     border-style: solid;
}
.main blockquote{
    color: white;
}

.body
{
    font-family: sans-serif;
    font-size-adjust: 30px;
    text-decoration-line: none;
}
.body h2,h3,h4{
    text-decoration: underline;
    color:yellow;
    font-size: 30px;
}
.body p
{
    color: white;
    font-weight: 20px;
    text-align: center;
   font-family: 'Fondamento', cursive;
}
.body  a{
    color:goldenrod;
    font-weight:bold;
    font-size: 15px; 
  
}
.mid
{
 background-color: black;
 margin-top:50px;
 margin-bottom: 40px;
 padding:20px;
width:auto;
}
.mid p{
    text-align:center;
    font-size:30px;
    margin:20px;
    font-family:monospace;
    color: white;
    
}
.detail{
    background-color:grey;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding:10px;
}
@media screen and (max-width: 600px) 
{
    div.topic img{  
    float:center;
    overflow:hidden;
    margin-top:10px;
    height:75px;
    width:50%;}
     
    .mid p{ width:auto;text-align:center;font-size:12px;margin-right:0px;
            
        }   

}