
header{
    background-color:rgb(255,156,0);
    height: 50px;
    background-size:100%;
    }
header ul
{
    float:right;
}
header ul li{
    display: inline-block;
    width:200;
    padding: 5px 15px;
    
}
header ul li a
{
    color: white;
    text-decoration: none;
    font-weight: 300px;
}
header ul li a:hover{
    background-color:black;
    color:white;
    padding:inherit;
    align-items:center;
}

.heading{
    font-weight: 200px;
    text-align: center;
    text-decoration-line: underline;
    padding:  30px;
    background-color: white;
    background-size: contain;
    text-decoration: underline;
    
}
#logo
{   
    overflow: hidden;
    height: 130px;
    width: 350px;
   
}

.heading h1{
    color: green;
    font-weight:500;
    font-family: sans-serif;
    font-weight: 1000;

}

.main{
    background-image:url(tag.jpg);
    background-position: center;
    background-size:900px 400px;
    height:100%
    color: white;
    font-family:serif;
    text-align: center;
     border-style: solid;
}
.main blockquote{
    color: white;
}

.body
{
    font-family: sans-serif;
    font-size-adjust: 30px;
    text-decoration-line: none;
}
.body h2,h3,h4{
    text-decoration: underline;
    color:yellow;
    font-size: 30px;
}
.body p
{
    color: white;
    font-weight: 800px;
    text-align: center;
   font-family: 'Fondamento', cursive;
}
.body  a{
    color:goldenrod;
    font-weight:bold;
    font-size: 15px
    
  
}
.detail{
    background-color: palevioletred;
    text-align: center;
    font-size: 20px;
    padding:10px;
}
